/* Link changes from default for works. */
main a {
  text-decoration: none;
}
main a:hover {
  text-decoration: underline;
}

main a:link {
  color: var(--text-link);
}
main a:visited {
  color: var(--text-link);
}

.light main a:link {
  color: var(--text-link-light);
}
.light main a:visited {
  color: var(--text-link-light);
}