---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Reng's Records";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img src="./images/space.webp" role="presentation" width="300" height="259" decoding="async">
    </div>
    <h1>Reng Zheng</h1>
    <span class="badge">AI Hardware Enthusiast and Hobbyist Philosopher</span>
    <h2>About</h2>
    <p>
        Hello! My name is Reng, I am a part of MIT's co. '26, and my primary interest is in high-performance computing
        development for machine learning tasks. I am working at MIT's 
        <a class="badge__link" href=https://eems.mit.edu>Energy Efficient Multimedia Systems (EEMS)</a>
        Laboratory under PhD Candidate <a class="badge__link" href=https://ieeexplore.ieee.org/author/37088725779>
        Michael Gilbert</a> and Principle Investigators 
        <a class="badge__link" href=https://scholar.google.com/citations?user=hNWGC5QAAAAJ&hl=en>
        Vivienne Sze</a> and <a class="badge__link" href=https://scholar.google.com/citations?user=mI3mfHcAAAAJ&hl=en>Joel Emer</a>.
        Currently, I am developing a heuristic to explore data placement
        in distributed buffers for high-performance AI/ML chips, which I hope to share
        with the public soon!
    </p>
    <p>
        I am also the Perception Lead of 
        <a class="badge__link" href=https://fsae.mit.edu>MIT Motorsports</a>. Right now, we are
        developing our first autonomous vehicle for 
        <a class="badge__link" href=https://www.sae.org/attend/student-events/formula-sae-electric>
        Formula Student Electric's</a> first autonomous cup in June 2026. My job
        is to get our multimodal sensor suite integrated with our machine-learning
        model by the end of December. Stay tuned for more news on that!
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My Portfolio</button>
        </a>
    </div>
    <div class="center">
        <button class="btn">My Resume</button>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Julia" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/julia/julia-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="ROS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ros/ros-original.svg"/>
		<img class="skills__img" width="46" height="46" alt="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"/>
		<img class="skills__img" width="46" height="46" alt="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="PyTorch" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I am a hobbyist philosopher with an interest in rationality on Bayesian foundations. I find
        navigating halting-problem esque challenges, explore-exploit trade-offs, and
        moral theory in an expected-values framework to be large interests of mine
        right now.
    </p>
    <p>
        I also have an interest in comparative medieval studies, with an interest
        in the effects of economic developments on empire stability and culture.
        If you want to hear about my analysis of the fall of the Tokugawa Shogunate,
        influence of the World Wars on Tolkien's Literature, or the relation of
        the Yellow River and the Fall of Chinese Dynasties, they will be posted
        soon on the blog section of this website.
    </p>
</Layout>

